<li>
    <p>
        Nombre:
        <%= doctor.name %>, Apellido:
            <%= doctor.lastname %>, Edad:
                <%= doctor.age %>
                    Especialidad:
                    <%= Specialty.find(doctor.specialty_id).name %>
                        -
                        <%= link_to edit_doctor_path(doctor), title:"Edit" do %>
                            Editar
                            <% end %> -
                                <%= link_to destroy_doctor_path(doctor), method: :delete, title:"Delete", data: { confirm: "¿Estás seguro de eliminar a este doctor?" } do %>
                                    Eliminar
                                    <% end %>
    </p>

</li>