<%= form_for(@doctor, url: @doctor.new_record? ? create_doctor_path : update_doctor_path(@doctor)) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
    <%= f.label :age %>
    <%= f.text_field :age %>
    <%= f.label :specialty_id %>
    <%= f.collection_select :specialty_id, Specialty.all, :id, :name, { prompt: "Selecciona especialidad"} %>
    <div>
        <ul>
            <li ng-repeat="service in services">
                {{service.name}}
                {{service.price}}
            </li>
        </ul>
        <form>
            <input type="text" ng-model="newService.name">
            <input type="number" ng-model="newService.price">
            <input type="submit" value="Agregar servicio">
        </form>
    </div>
    <%= f.submit @doctor.new_record? ? "Guardar" : "Editar" %>
<% end %>